<!-- SUBMENU START -->

<shared-sub-menu></shared-sub-menu>

<!-- SUBMENU END -->

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6 lg:gap-8 p-4">
  @for (product of listProducts(); track $index) {
    <shared-product  [product]="product"></shared-product>
  }@empty {
    No hay más productos para mostrar
  }
</div>

<div class="grid mb-3 grid-flow-col justify-items-center">
  <button (click)="moreProducts()" class="btn btn-warning">Más productos</button>
</div>
