<div (click)="navigateToProduct(product().id)" class="animate__animated animate__fadeIn w-full">
  <div class="card bg-base-100 w-full shadow-sm hover:shadow-md transition-shadow duration-300">
    <figure class="overflow-hidden">
      <img
        [src]="product().images | productImage"
        [alt]="product().slug"
        class="w-full h-48 object-cover hover:scale-105 transition-transform duration-300" />
    </figure>
    <div class="card-body p-4 md:p-6">
      <h2 class="card-title text-lg md:text-xl">{{product().title}}</h2>
      <p class="text-sm md:text-base">{{product().description}}</p>
      <div class="card-actions justify-end mt-4">
        <button (click)="cartCount.addItemsCart()" class="btn btn-primary btn-sm md:btn-md">Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>
